body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  font-family: 'Rubik', sans-serif;
}

.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .controls-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 40vh;
  /* Thanks to theArtifacts */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  transition: opacity 0.5s linear;
}

.video-container .progress-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.video-container .progress-controls .time-remaining {
  margin: 1vw;
  width: 4vw;
}

.video-container .progress-controls .progress-bar {
  width: 90vw;
  height: 1vw;
  max-height: 7px;
  background: #5B5B5B;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.video-container .progress-controls .progress-bar .watched-bar,
.video-container .progress-controls .progress-bar .playhead {
  background: #E31221;
  display: inline-block;
  transition: all 0.2s;
}

.video-container .progress-controls .progress-bar .watched-bar {
  height: 110%;
  width: 20%;
}

.video-container .progress-controls .progress-bar .playhead {
  height: 3vw;
  width: 3vw;
  max-height: 25px;
  max-width: 25px;
  border-radius: 50%;
  transform: translateX(-50%);
}

.video-container .controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container .controls button {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  margin: 0px 1vw;
  opacity: 0.4;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.video-container .controls button:hover {
  opacity: 1;
  transform: scale(1.2);
}

.video-container .controls button svg {
  fill: white;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 100%;
  height: 100%;
}


.video-container .controls button.volume svg path,
.video-container .controls button.help svg,
.video-container .controls button.episodes svg,
.video-container .controls button.full-screen svg,
.video-container .controls button.volume svg path,
.video-container .controls button.cast svg {
  fill: none;
}

.video-container .controls button.rewind svg,
.video-container .controls button.fast-forward svg {
  stroke: none;
}

.video-container .controls button.captions svg {
  stroke: none;
}

.video-container .controls button.speed svg {
  stroke: none;
}


.video-container .controls .title {
  font-size: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.volume-controls {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .video-container .controls .title {
    display: none;
  }
}

.video-container .controls .title .series {
  color: #FEFEFE;
  font-weight: bold;
  font-size: 1em;
}

.video-container .controls .title .episode {
  color: #A1A1A1;
  font-size: 0.75em;
  padding-left: 1vw;
}

.playback-controls {
  background: #232323;
  color: white;
  position: absolute;
  bottom: 10vh;
  right: 2vw;
  padding: 2rem 1rem;
  display: none;
}

.playback-controls p {
  margin-top: 0;
  font-size: 1.4vw;
  padding-left: 1.2rem;
}

.playback-button-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: -3vw;
}

.playback-controls button {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3vw;
  width: 10vw;
  cursor: pointer;
}

.playback-icon {
  width: 2vw !important;
  height: 2rem !important;
  margin-bottom: 1rem;
}

.playback-active {
  display: none;
  z-index: 2;
  position: relative;
}

.playback-item-active .playback-normal {
  display: none;
}

.playback-item-active .playback-active {
  display: block;
}

.speed-label-active {
  font-weight: bold;
}

.pb-line {
  position: absolute;
  background: #d8d8d8;
  width: 80%;
  height: 1px;
  left: 29%;
  transform: translateX(-25%);
  top: 23%;
  z-index: 1;
}

.season-container {
  display: none;
  position: absolute;
  right: 0;
  bottom: 10vh;
  overflow-y: scroll;
  width: 50vw;
  height: 50vh;
  background: #232323;

}

.season-detail {
  color: white;
  width: 100%;
  /* padding: 1rem; */
}

.episode-detail {
  display: flex;
  flex-direction: column;
}

.episode-cover {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 30rem;
  height: 7rem;
  margin-right: 2rem;
}

.episode-cover:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 40%;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.play-option {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.episode-desc-container {
  background: black;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.episode-header {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}

.episode-header svg {
  fill: white;
  margin-right: 1rem;
}

#season-list {
  width: 100%;
}

.season-select-container {
  width: 100%;
}

.season-select {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
  color: white;
  /* margin: .8rem 1rem .8rem 0; */
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 1rem;
  transition: background .25s;
  display: flex;
  justify-content: space-between;
}

.season-select svg {
  display: none;
}

.season-select:hover {
  background: #ffffff1a;
}

.season-select:hover svg {
  display: block;
}

.episode-desc-container {
  display: none;
}

.episode-desc-active {
  display: flex;
}

.episode-name-btn {
  border: none;
  outline: none;
  background: none;
  color: white;
  padding: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  cursor: pointer;
}

.episode-name-btn:hover {
  background: #ffffff1a;
}


.slider {
  position: absolute;
  top: -90%;
  left: -14%;
  transform: rotate(-90deg);
  opacity: 0;
  transition: opacity .25s;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ff0000;
  border-radius: 0.5rem;
  height: .7rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -7px;
  /* Centers thumb on the track */
  background-color: #ff0000;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #ff0000;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ff0000;
  border-radius: 0.5rem;
  height: .7rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #ff0000;
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #ff0000;
  outline-offset: 0.125rem;
}